@tailwind base;
@tailwind components;
@tailwind utilities;

/* Horizontal Scroll Animation for Text */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 11s linear infinite;
}

/* logo */
@keyframes subtle-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}
